.app__cart{
    width: 32%;
    height: 100vh;
    background: rgb(255, 255, 255);
    top:0;
    right: 0;
    z-index: 300;
    position: fixed;
    animation: OpenCart 500ms;
    box-shadow: 1px 1px 1px 2px lightgray;
    display: flex;
    flex-direction: column;
   
}
.app__cart-header{
    width: 100%;
    height: 16%;
    font-size: 1rem;
    box-shadow: 2px 1px 1px lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: var(--font-color);
    cursor: pointer;
   

}
.app__cart-closeIcon{
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
}
.app__cart-header-content{
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: space-between;
    z-index: 200;
}
.cartIcon{
    font-size: 1.5rem;
    
}
.app__cart_item-section{
    height: 100%;
    overflow-y: scroll;
}

.header_menu-cart-icon{
    display: flex;
    align-items: center;
    width: 45%;
}
.cart-menu-cart_container{
    width: 18%;
    display: flex;
}
.cart-menu-cart_item{
    width: 1rem;
    height: 1rem;
 
}
.cart-menu-cart_item{
    height: 100%;
    width: 30%;
    background: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-menu-cart_item-count{
    color: black;
}
/* checkout btn section */
.app__cart_checkout-section{
    display: flex;
    align-items: center;
    padding: .1rem 1rem;
    justify-content: space-between;
}

.app__cart_checkout-section{
    height: 8rem;
    border-top: 1px solid lightgray;
}
.app__cart-subtotal-amount{
    width: 30%;
    height: 80%;
    font-size: .9rem;
}
.app__cart-subtotal-amount-price{
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-left: .2rem;
    color: black;
}
.app__cart-checkout-btn{
    width: 30%;
    height: 70%;
    background: orange;
}
.cat-btn{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: .9rem;
    text-transform: capitalize;
    background: orange;
    cursor: pointer;
}


::-webkit-scrollbar{
    display: none;
}
@keyframes OpenCart {
    from {
        width: 0%;
    }
    to {
     width: 30%;
    }
  }
  
