.header_container{
    width: 100%;
    height: 6rem;
    top:0;
    background: #fff;
    box-shadow: 2px 2px 2px 1px lightgray;
   
  
   
}
.header-content{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 1rem 0rem ;
}
.header-logo{
    font-size: 24px;
    font-weight: 700;
    color: #777;
}
.header-logo-text2{
    color: var(--font-color);
}
.header-menu_links a{
    text-decoration: none;
    margin: .6rem;
    color: var(--font-color2);
    font-size: 16px;
    font-weight: 600;
}
.header_buttons span{
    font-size: 24px;
    margin: 1rem;
}
.header_buttons .ciSetting:hover{
    transform: rotate(20deg);
    animation: App-logo-spin 1s;
}
.header-menu_links a:hover{
    color: var(--font-color);
}
.header-menu_links .active{
    color: var(--font-color);
}
.header_buttons span{
    cursor: pointer;
}
.header_buttons span:hover{
    color: var(--font-color)
}
.mobile-menu-btn{
    display: none;
}


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
@media screen and (max-width:550px) {
    .header_container{
        width: 100%;
        height: 5rem;
        padding: 1rem;
        position: fixed;
        z-index: 201;
    }
    .header-menu_links{
        display: none;
    }
    .header_buttons{
        display: none;
    }
    .header-menu_links-mobile{
        position: absolute;
        width: 100%;
        height: 10rem;
        margin-top: 14rem ;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        animation: menuexpand 1s;
        
    }
    .header-menu_links-mobile a{
        text-decoration: none;
        padding-left: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        height: 7rem;
        color: #fff;
        font-size: 1rem;
        font-weight: 300;
        background: var(--font-color);
        margin-bottom: .1rem; 
      
    }
    .mobile-menu-btn{
        display: block;
        width: 3rem;
        height: 2rem;
        font-size: 1.7rem;
        font-weight: bold;
        cursor: pointer;
    }


}

@keyframes menuexpand{
    from {opacity: 0;};
    to {opacity: 100%;}
}



@media screen and (max-width:350px) {
    .header_container{
        width: 100%;
        height: 5rem;
       
    }
    .header-menu_links{
        display: none;
    }
    .header_buttons{
        display: none;
    }
}